.directory-tree-wrapper {
  display: flex;
  flex-direction: column;
}

.directory-tree-parent {
  display: flex;
  flex-direction: row;

  padding: 10px;

  .directory-tree-arrow {
    flex: 1;
  }

  .directory-tree-info {
    flex: 5;

    display: flex;
    flex-direction: row;
    gap: 3px;

    svg::first-child {
      flex: 1;
    }

    span {
      flex: 5;
    }

    button {
      border: none;
      background-color: transparent;
      flex: 1;
    }
  }
}

.directory-tree-child {
  display: block;
  margin-left: 20px;
}