.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 32px;
    height: auto;
    animation: spin 1s infinite steps(12);
  }
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}