.file-browser-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .file-browser-item-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  
    .file-browser-item {
      display: block;
      background-color: #cdcdcd;
      padding: 10px;
    }  
  }

  .file-browser-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}