<div class="file-explorer-main-wrapper">
  <div class="file-explorer-buttons">
    <button cButton variant="outline" title="File Upload"><svg [cIcon]="icons.cilArrowThickFromBottom" width="16"></svg></button>
  </div>
  <div class="file-explorer-wrapper">
    <div class="file-explorer-filetree">
      <directory-tree-comp [items]="items" (onDirectorySelected)="handlerOnDirectorySelected($event)"></directory-tree-comp>
    </div>
    <div class="file-explorer-browser">
      <file-browser-comp [items]="currentActiveDirectory && currentActiveDirectory.fileItem.children && currentActiveDirectory.fileItem.children.length > 0 ? currentActiveDirectory.fileItem.children : items"></file-browser-comp>
    </div>  
  </div>
</div>