.file-explorer-main-wrapper {
  display: flex;
  flex-direction: column;

  .file-explorer-buttons {
    display: flex;
    flex-direction: row;

    margin-bottom: 30px;
  }

  .file-explorer-wrapper {
    display: flex;
    flex-direction: row;

    .file-explorer-filetree {
      display: block;
      flex: 1;

      border: 1px solid #dfdfdf;
      padding: 5px;

      overflow: scroll;
    }

    .file-explorer-browser {
      display: block;
      flex: 3;

      border: 1px solid #dfdfdf;
      padding: 5px;
    }
  }
}

.explorer-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .directory-panel {
    flex: 1;
    border-right: 1px solid #dfdfdf;
    overflow-y: auto;
  }

  .file-browser-panel {
    flex: 3;
    padding: 10px;
    overflow-y: auto;
  }
}
