.filetree-item-wrapper {
  display: flex;
  flex-direction: row;

  &.filetree-item-selected {
    background-color: #dddddd;
  }

  .filetree-item-checkbox {
    display: block;
    padding: 5px;
    flex: 1;
  }

  .filetree-item-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex: 6;

    .filetree-item-title {
      display: block;
    }

    .filetree-item-detail {
      display: flex;
      flex-direction: row;

      font-size: 10px;
      font-style: italic;

      span {
        width: 50%;
      }
    }
  }

  .filetree-item-button {
    display: block;
    width: 100%;
    height: 100%;
    flex: 2;

    button {
      width: 100%;
      height: 100%;
    }
  }
}